*
!docs
!docs/**
!example
!example/**
example/logs
!src
!src/**
!.gitignore
!package.json
!README.md
!tsconfig.json
!README.md
!tslint.json
!jest.config.js
!test
!test/**
!__test__
!__test__/**
!.npmignore
